[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
streamlit = {path = "/Users/karenjavadyan/hackaton/streamlit-0.82.0-py2.py3-none-any.whl"}
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
